/* Color Pallet obtained from:
https://colorhunt.co/palette/eb455ffcffe7bad7e92b3467 */
:root {
    --retrored: #EB455F;
    --retrotan: #FCFFE7;
    --retrolightblue: #BAD7E9;
    --retroblue:#2B3467;
  } 
  
html, body{
    background-color: var(--retrolightblue);
    color: var(--retroblue);
    font-family: 'Roboto Flex', sans-serif;
    height: 100vh;
    position: relative;
}


.title {
    font-size: 60px;
    background-color: var(--retroblue);
    color: white;
    font-family: 'Lato', sans-serif;
    padding: 30px;
}

.button { 
    background-color: var(--retrored);
    color: white;
}


.button:hover{
    color: var(--retroblue);
}

nav.panel{
    background-color: var(--retrotan);
}

.panel-heading{
    color: white;
    background-color: var(--retrored);
}

.panel-block:hover{
    color: var(--retroblue);
}

.search-current-weather .column {
    margin: 10px;
    font-family: 'Roboto Flex', sans-serif;
}

#currentWeatherAndTemp h3{
    font-size: 30px;
}

.five-day-forecast{
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Roboto Flex', sans-serif;
    display: flex;
}

#forecast-title{
    background-color: var(--retrored);
    color: white;
    font-size: 30px;
}

#forecast-footer{
    background-color: var(--retrolightblue);
    color: white;
    font-size: 30px;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: var(--retroblue);
}


